:root{
    --js-yellow: #f7df1e;
    --js-black: #333;
}


html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
    /* transition: scroll-behavior; */
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

section{
    width: 100%;
    min-height: 90vh;
    /* background-color: lightgray; */
    padding: 5vh;
    /* border: 1px solid red; */
    /* text-align: center; */

}
/* section:nth-child(even){
    background-color: lightcyan;
} */


h2, h3, p{
    margin: 0;
    text-align: center;
}



.header-container{
    width: 100%;
    height: 10vh;
    background-color: #f7df1e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
}
.header-container h1{
    margin: 0;
    text-align: center;
}

.aside-container{
    /* Posicionamiento */
    position: fixed;
    width: 100%;
    height: 90vh;
    background-color: #333333e8;
    transform: translateX(-100%);
    transition: transform .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* backdrop-filter: blur(4px); */
    overflow-y: scroll;
}

.aside-elements{
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}
.aside-elements a{
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0;
    width: 100%;
    height: 5%;
    font-size: 1.5rem;
    color: lavender;
    text-decoration: none;
    color: var(--js-yellow);
    /* text-align: center; */
    transition: background-color 0.5s ease, color 0.8s ease;
    /* transition: color 0.5s ease; */
    
}

.aside-elements a:hover{
    font-weight: bold;
    color:var(--js-black);
    background-color: var(--js-yellow);
}
.aside-btn{
    position: fixed;
    z-index: 1;
    right: 1rem;
    bottom: 1rem;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7df1e;
    box-shadow: 2px 6px 5px rgba(0, 0, 0, 0.2);
}

.side-active{
    transform: translate(0);
}


/* .aside-elements{
    display: block;
    width: 100%;
    height: 20%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-size: 4vh;
}

.aside-elements >a:hover{
    color: aqua;
    background-color: #d0bd2a31;
    
}

.show-aside-menu{
    transform: translate(0);
}

.menu-btn{
    background-color: #f7df1e;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.menu-btn:active{
    background-color: #d0bc2a;
}
.menu-btn:hover{
    cursor: pointer;
} */



/*CLOCK STYLES*/
.clock-style{
    font-size: 1.5rem;
    font-weight: bold;
}

/* ALARM STYLES*/
.ejercicio-container{
    display: flex;
    justify-content: space-evenly;
}
.clock-btn:hover{
    cursor: pointer;
}

.clock-btn-disable{
    pointer-events: none;
    opacity: 0.5;
}

/*Ejerccio 2*/

.ejercicio-dos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.board{
    width: 85%;
    height: 60vh;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball{
    width: 4rem;
    height: 4rem;
    background-color: #f7df1e;
    border-radius: 50%;
    /* transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1); */
}

/*Ejercicio 3*/
/* Boton para volver hacia arriba */
.top-button{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 7vh;
    height: 7vh;
    background-color: #f7df1e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 2px 6px 5px rgba(0, 0, 0, 0.2) ;
}
.top-button:hover{
    /* opacity: .8; */
    cursor: pointer;
    background-color: #a99812;
}

.top-button-is-active{
    transform: translate(0, -5rem);
}


/*Ejercicio 5 darkmode css*/
.dark-mode{
    background-color: #292a2d;
    color: #d4d4d4;
}
/* .dark-text{
    color: #292a2d;
} */

.dark-mode-btn{
    user-select: none;
    position: fixed;
    top: .5rem;
    right: 1rem;
    z-index: 999;

    width: 7vh;
    height: 7vh;
    background-color: #f7df1e;
    color: #292a2d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 6px 5px rgba(0, 0, 0, 0.2);
    transition: background 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    
}

/* .dark-icon, .light-icon{
    position: absolute;
}

.icon-visible{ 
    visibility: hidden;
} */

.dark-mode-btn:hover{
    cursor: pointer;
    background-color: #a99812;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.height-800 {font-weight: bold;} 



/* Ejercicio responsive design con javascript */
.ejercicio-cuatro{
    height: 120vh;
}
.responsible-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Ejercicio 9: formularios */
/* Responsive tester */
.form-tester{
    width: 65%;
    height: auto;
    margin: 1% auto;
    padding: 1%;
}

.form-tester input{
    display: block;
    width: 75%;
    height: 2.5rem;
    margin: 2% auto;
}



/* Ejercicio 10: Detectar conexion */
.connection-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    /* background-color: red; */
    background-color: #292a2d53;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection-msg{
    width: 60vh;
    height: 30vh;
    border-radius: 1rem;
    background-color: lightgray;
    color: #333;
    display: flex;
    flex-direction: column;
}


.connection-header{
    width: 100%;
    height: 40%;
    border-radius:  1rem 1rem 0 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.conn-on{
    background-color: #47c9a2;
}

.conn-off{
    background-color: #ef513a;
}

.connection-status{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: re; */
}

.connection-hide{
    display: none;
}

a{
    display: block;
    text-align: center;
}

/************* Ejercicio 10 *************/
/* Estilos para el ejercicio de filtros de busqueda */

.card-filter{
    display: block;
    margin: 2% auto;
    width: 30%;
    height: 2rem;
    /* margin-top: 2%; */
    /* background-color: red; */
    outline: none;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* border: thin solid black; */
}

.card{
    /* border: thin solid black; */
    background-color: #333;
    color: #f7df1e;
    transition: all 0.3s ease-out;
}

.card img{
    width: 100%;
    height: auto;
}

.card figcaption{
    padding: 1rem;
    text-align: center;
}

.filter{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    order: 1;
}

/* Ejercicio 11 */
.prog-langs{
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 0;
}
.prog-langs li{
    list-style: none;
    text-align: center;
    font-size: 1.2rem;
}

.winner-btn{
    display: block;
    margin: 1rem auto;
}

/******************* ejercicio 16 *******************/
/* responsive slider */


/* slides */
.slider-container{
    position: relative;
    border: thin solid black;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
}

.slides-container{
    position: relative;
    height: 450px;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.slide img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: 50% 50%;
}

.active-slide{
    opacity: 1;
    visibility: visible;
}

/* botones */
.slider-btns-container{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s ease;
}

.slide-btn-active{
    opacity: 1;
    visibility: visible;
}

.slider-btns-container div{
    display: block;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background-color: #fff;
    color: #292a2d;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    
}
.slider-btns-container div:hover{
    background-color: lightgrey;
    cursor: pointer;
}

@media  screen and (min-width: 1024px) {

    .aside-container{

        width: 20%;
        overflow-x: auto;
    }
    .aside-elements a{
        font-size: 1rem;
        justify-content: flex-start;
        text-align: left;
    }

    /* .aside-elements a,
    .aside-elements a.active{
        color: var(--js-black);
        background-color: var(--js-yellow)
    } */
    .aside-elements a:hover{
        background-color: var(--js-yellow)
    }

    .side-active{
        transform: translateX(0);
    }
    .main-move{
        margin-left: 20%;
    }
    .aside-btn{
        position: fixed;
        top: .5rem;
        left: 1rem;
        z-index: 999;
    }

    .top-button{
        right: 1rem;
        bottom: -4rem;
    }
}

/* .actives{
    background-color: lightblue;
    color:#292a2d;
} */

a.active{
    color: var(--js-black);
    background-color: var(--js-yellow);
}

/*****************************************/
/* Ejercicio 18 */


.video{
    max-width: 80%;
    height: auto;
    margin: 2% auto;
    display: block;
}


/*****************************************/
/* Validacion de formularios */
/* Ejercicio 19 */

/* legend,
.contact-form-response{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin: 2% 0;
} */

/* form{
    width: 65%;
    height: auto;
    margin: 5% auto;
    padding: 1%;
    border-radius: .6rem;
} */

/* label{
    display: block;
    margin: 0 0 .4rem 0;
} */

/* input, 
textarea{
    display: block;
    width: 100%;
    height: 2.5rem;
    margin: 0 0 1rem 0;
    outline: none;
    border: 3px solid #ccc;
    transition: border .3s ease;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
} */

/* textarea{
    height: 5rem;
    resize: none;
} */

/* input[type="submit"],
input[type="reset"]{
    display: inline;
    width: 50%;
    border-radius: .3rem;
} */

.contact-form{
    /* background-color: #f2f2f2; */
    width: 65%;
    height: auto;
    margin: 5% auto;
    padding: 1%;
    border-radius: .6rem;
}

.contact-form label{
    display: block;
    margin: 0 0 .4rem 0;
    font-size: 1.1rem;
}

.contact-form input,
.contact-form textarea{
    display: block;
    width: 100%;
    height: 2.5rem;
    margin: 0 0 1.5rem 0;
    outline: none;
    border: 3px solid #ccc;
    transition: border .3s ease;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.contact-form textarea{
    height: 5rem;
    resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border: 3px solid lightskyblue;
}

.contact-form input:valid,
.contact-form textarea:valid{
    border: 3px solid lightgreen;
}

/* .contact-form input:invalid,
.contact-form textarea:invalid{
    border: 3px solid lightcoral;
} */

.contact-form input[type="submit"],
.contact-form input[type="reset"]{
    border: none;
    border-radius: 5px;
}
.contact-form input[type="submit"]:hover,
.contact-form input[type="reset"]:hover{
    cursor: pointer;
}

.send{

    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.contact-form legend,
.contact-form-response{
    /* border: thick solid red; */
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin: 2% 0;
}

.contact-form-error{
    display: block;
    margin-top: -1.5rem;
    font-size: 1.2rem   ;
    background-color: lightcoral;
    color: #fff;
    transition: all .3s ease-in-out;
}

.contact-form-error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

.none{
    display: none;
}

@keyframes show-message{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

/* ******************************************** */
/* Ejercicio 20 */
/* Narrador de texto */

.reader-form{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 1%;
}

.reader-form textarea{
    display: block;
    width: 65%;
    height: 8rem;
    margin: 1% auto;
    resize: none;
    border: 3px solid #ccc;
    outline: none;
    transition: border .3s ease;
    font-family: 'Inter', sans-serif;
}
.reader-form label{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.reader-form select{
    display: block;
    width: 25%;
    height: 2rem;
    margin: 1% auto 2% auto;
    border: 3px solid #ccc;
    outline: none;
}

.reader-form textarea:focus{
    border: 3px solid lightskyblue;
}

.reader-form textarea:valid{
    border: 3px solid lightgreen;
}

.reader-form input[type="submit"]{
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 2rem;
    outline: none;
    border: 3px solid #ccc;
}

.reader-form input[type="submit"]:hover{
    cursor: pointer;
}